@media (max-width: 1199px) {
  .product_card {
    width: 100%;
    max-width: 560px;
  }

  .hero_media {
    display: none;
  }

  .header-grid{
    grid-template-columns: minmax(280px, 1050px) minmax(300px, 1fr);
  }
}

@media (max-width: 992px) {
  .hero_media {
    display: block;
    position: sticky;
  }

  .header-grid{
    grid-template-rows: 46px 1fr;
    grid-template-columns: minmax(25vw, 36vw) 640px;
  }

  header.header-grid > aside{
    display: block;
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    min-height: 46px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 700;
  }

  header.header-grid > article{
    grid-row: 2;
    grid-column: 1;
  }

  header.header-grid > .hero_media{
    grid-row: 2;
    grid-column: 2;
  }

  .header-left img{
    top: -15px;
    left: 5%;
    z-index: 701;
    position: fixed;
  }

  header.header-grid > aside > div{
    margin: 0;                 /* убираем mt-120 эффект */
    padding: 6px 8px;
    height: 46px;           /* уменьшаем высоту */
    flex-direction: row;       /* было column-direction */
    align-items: center;
    justify-content: flex-end; /* всё вправо */
    gap: 12px;
  }

  header.header-grid aside nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    background-color: #415167;

    transform: translateX(100%); /* спрятано */
    transition: transform 0.3s ease;

    z-index: 1000;
  }

  header.header-grid aside nav p{
    padding-top: 15vh;
  }

  .width370 {
    width: 95%;
  }

  .w-890{
    width: 95vw;
  }

  .product_grid {
    grid-template-columns: 1fr;
  }

  .gift_img {
    width: 100%;
    max-width: 512px;
    height: auto;
  }

  .gift_img img {
    width: 100%;
    height: auto;
  }

  .flex_space-evenly {
    flex-wrap: wrap;
    gap: 20px;
  }

  #benefit-grid{
    display: flex;
    flex-wrap: wrap;
  }

  #menuToggle{
    display: flex;
  }
  
}

@media (max-width: 767px) {
  .hero_media {
    display: none;
  }

  .header-grid{
    grid-template-rows: 46px 1fr;
    grid-template-columns: 50vw 50vw;
  }

  .font_h1_sets { font-size: 40px; }
  .font_h2_sets { font-size: 26px; }

  

  .scroll-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 575px) {

  .font_h1_sets { font-size: 32px; }
  .font_title_sets { font-size: 20px; }
  .font_subtitle_sets,
  .font_price_sets { font-size: 16px; }


  .h2_margin { margin-bottom: 30px; }

  .w-890{
    width: auto;
  }

  .w-560{
    width: auto;
  }

  .width370{
    width: 240px;
  }
  
  .flex#gift-sec{
    flex-direction: column;
  }
}